In [40]:
import pandas as pd
from pathlib import Path

In [41]:
from countryinfo import CountryInfo

In [42]:
csvpath = Path("country_list.csv")

In [43]:
country_list = pd.read_csv(csvpath)
country_list

         Countries
0        Australia
1          Austria
2          Belgium
3           Brazil
4           Canada
5            China
6           Cyprus
7          Estonia
8          Finland
9           France
10         Germany
11          Greece
12         Ireland
13           Italy
14           Japan
15          Latvia
16       Lithuania
17       Luxemburg
18           Malta
19          Mexico
20     Netherlands
21        Portugal
22       Singapore
23        Slovakia
24        Slovenia
25    South Africa
26           Spain
27     Switzerland
28        Thailand
29          Turkey
30  United Kingdom

In [44]:
#country_names = []



country_names = ['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Cyprus', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan', 
                'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico', 'Netherlands', 'Portugal', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Switzerland', 'Thailand', 'Turkey', 'United Kingdom']

In [45]:
country_names

['Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Canada',
 'China',
 'Cyprus',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Ireland',
 'Italy',
 'Japan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Mexico',
 'Netherlands',
 'Portugal',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Switzerland',
 'Thailand',
 'Turkey',
 'United Kingdom']

In [46]:
name = 'Luxembourg'
country = CountryInfo(name)
country.capital()

'Luxembourg'

In [50]:
for country in country_names:
    country2 = CountryInfo(country)
    
    lat_lng = country2.capital_latlng()
    #print(lat_lng)
    print(f"Country: {country}  {country2.capital_latlng()}")

Country: Australia  [-35.297591, 149.101268]
Country: Austria  [48.208354, 16.372504]
Country: Belgium  [50.846557, 4.351697]
Country: Brazil  [-10.333333, -53.2]
Country: Canada  [45.421106, -75.690308]
Country: China  [39.906217, 116.391276]
Country: Cyprus  [35.17393, 33.364726]
Country: Estonia  [59.437216, 24.745369]
Country: Finland  [60.16741, 24.942577]
Country: France  [48.856697, 2.351462]
Country: Germany  [52.517036, 13.38886]
Country: Greece  [37.983941, 23.728305]
Country: Ireland  [53.349764, -6.260273]
Country: Italy  [41.89332, 12.482932]
Country: Japan  [35.682839, 139.759455]
Country: Latvia  [56.949398, 24.105185]
Country: Lithuania  [54.687046, 25.282911]
Country: Luxembourg  [49.815868, 6.129675]
Country: Malta  [35.898982, 14.513676]
Country: Mexico  [19.43263, -99.133178]
Country: Netherlands  [52.37276, 4.893604]
Country: Portugal  [38.707751, -9.136592]
Country: Singapore  [1.357107, 103.819499]
Country: Slovakia  [48.151699, 17.109306]
Country: Slovenia  [46.04998, 14.50686]
Country: South Africa  [-25.745937, 28.187944]
Country: Spain  [40.416705, -3.703582]
Country: Switzerland  [46.948271, 7.451451]
Country: Thailand  [13.754253, 100.493087]
Country: Turkey  [39.920777, 32.854067]
Country: United Kingdom  [51.507322, -0.127647]

In [48]:
country = CountryInfo(name)

In [39]:
country.capital_latlng()

[49.815868, 6.129675]